# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Data folder: ignore everything by default
data/*

# But keep this specific CSV dataset
!data/processd_default_credit_card_clients.csv